body{
    background-image: url(/imagem/bg-2.png);
    padding: 0;
    margin:0;
    font-family: monospace;  
    
}
header{
    width: 1140px;
    height: 60px;
    background-color: red;
    overflow: hidden;
    margin: 0 auto;
    
}

header *{
    display: inline-block;
    text-align: center;
    font-style: bold;
    
}

header img{
    float: left;
    margin:10px;
}

header ul{
   overflow: hidden;
    padding: 10px;
    font-weight: bold;
}

.lista1 *{
    
    list-style-type: none;
    text-decoration: none;
    color: white;
   
}

.lista1{
    float: left;
}
    

.lista2 *{
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.lista2{
    float: right;
    margin-right: 20px;
}

section img{
    width: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
}

.principal {
    width: 800px;
    background-color: rgb(235, 235, 235);
    margin-left: 105px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: center ;
    align-items: center;
}

.principal section{
    width: 380px;
    padding: 10px;

}

main article{
    text-align: justify;
    margin-right: 20px;
}



/* aside começa aqui*/

aside{
    width: 320px;
    padding:20px
    
}



#manuais{
    height: 35px;
    background-color: white;
    margin-top: 0px;

}